* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

Body {
  overflow-y: scroll;
  background-color: rgb(210, 210, 210);
}

#Header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

#HeaderTitle {
  height: 70px;
  line-height: 70px;
  color: rgb(40, 100, 140);
  font-size: 30px;
  text-align: center;
  margin-left: 15px;
}

#HeaderTitle:hover {
  cursor: pointer;
  color: rgb(70, 70, 70);
}


#Categories {
  text-align: center;
  height: 25px;
  width: 100%;
  background-color: rgb(230, 230, 230);
  border-bottom: solid 3px rgb(150, 150, 150);
}

.Category {
  display: inline-block;
  height: 25px;
  width: 100px;
  margin-left: min(40px, max(10px, 2.5vw));
  margin-right: min(40px, max(10px, 2.5vw));
  line-height: 25px;
  font-size: 15px;
  color: rgb(50, 50, 50);
}

.Category:hover {
  border-bottom: solid 3px rgb(50, 50, 50);
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

#OptionsContainer {
  text-align: center;
  height: 25px;
  width: 100%;
}

.Options {
  display: inline-block;
  width: 100px;
  margin-left: min(40px, max(10px, 2.5vw));
  margin-right: min(40px, max(10px, 2.5vw));
  line-height: 25px;
  font-size: 15px;
  color: rgb(50, 50, 50);
  z-index: 3;
}

.Option {
  height: 25px;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.Option:hover {
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

#StartStop {
  position: fixed;
  height: 30px;
  width: 100px;
  text-align: center;
  line-height: 30px;
  color: rgb(230, 230, 230);
  margin: 110px 0px 0px 10px;
  border: solid 2px rgb(230, 230, 230);
  border-radius: 5px;
  z-index: 2;
}

#StartStop:hover {
  filter: brightness(1.25);
  cursor: pointer;
}

#GridContainer {
  position: absolute;
  width: 100%;
  margin-top: 98px;
}

#Pixel {
  float: left;
  height: 2vw;
  width: 2vw;
  border: solid 1px black;
  margin: -1px;
  background-color: rgb(40, 100, 140);
}
